



<!-- Classe de estilo de barra-inicial manipulada em /css/templates/barra-inicial-home.css -->
<!-- Template Barra Inicial -->
<div xmlns:th="http://www.thymeleaf"
	 th:fragment="barra-inicial-home"
	 class="container-fluid"> 
<!--  -->
	
 
	<div class="row justify-content-between barra ">	 
	 
		<div class="col-auto">
			<h3 class="titulo-barra">Agenda de Equipamentos - CIFEP</h3>
		</div>

		<div class="col-auto">
			<nav class="row tamanho-fonte">
				<div class="col-auto ">
					Olá,
					<span>Bruno</span>
				</div>
				<div class="col-4 ">Sair</div>
			</nav>
		</div>
	 
	 

	</div>
	 
</div>

 