<head xmlns:th="http://www.thymeleaf.org" 
	  th:fragment="head">	  
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<title>::Agenda de Equipamentos</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- segunda inserção de fonte do sistema -->
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

<link th:href="@{/bootstrapv4.0/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/templates/css-template.css}" rel="stylesheet" />
<link th:href="@{/css/templates/home.css}" rel="stylesheet" />

</head>